<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" routerLink="/">Accueil</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#myNavbar"
          aria-controls="myNavbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/themes">Thèmes</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/user">Utilisateur</a></li>
    </ul>
    <ul class="navbar-nav mr-10">
      <li class="nav-item dropdown">
        <!-- Add component here -->
      </li>
    </ul>
  </div>
</nav>
<div style="margin-top: 25px;"></div>
